$white: #fff;
$blue: #0366d6;
$cyan: #2D9ee0;
$light-blue: #84a8cc;
$light-gray: #d9d9d9;
$super-light-gray: #f7f7f7;
$shadow: 0 5px 10px rgba(0,0,0,.25);
$green: #2ab27b;

// Lets lower this value if possible
$z-skyhigh: 999;