body{
    background: #FFF;
}
#quill-editor{
    position: relative;
}
.mention {
    color: #0366d6;
}
.ql-container{
    max-height: 400px;
}
.completions {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.completions > li {
    margin: 0;
    padding: 0;
}
.completions > li > button {
     box-sizing: border-box;
     height: 2em;
     padding: .25em .5em;
     margin: 0;
     display: block;
     width: 100%;
     text-align: left;
     border: none;
     background: none;
}
.completions > li > button:hover {
            background: #ddd;
}
.completions > li > button:focus {
            background: #ddd;
            outline: none;
}
.completions > li > button > .matched {
            font-weight: bold;
            color: black;
}
.completions > li > button > * {
            vertical-align: "middle";
}
.emoji_completions {
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
    border-radius: 2px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.emoji_completions > li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 2px;
    margin-bottom: 2px;
}
 .emoji_completions > li > button {
    box-sizing: border-box;
    height: 2em;
    padding: .25em .5em;
    margin: 0;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: #efefef;
    border: 1px solid #DDD;
    border-radius: 5px;
}
.emoji_completions > li > button:hover {
            background: #ddd;
}
.emoji_completions > li > button:focus {
            background: #ddd;
            outline: none;
}
.emoji_completions > li > button > .matched {
            font-weight: bold;
            color: black;
}
.emoji_completions > li > button > * {
            vertical-align: "middle";
}
.ql-emoji:after {
    content: "😊";
}
.ico{
    margin-right:10px;
}
#emoji-palette{
    position: absolute;
    padding: 4px;
    z-index: 999;
    border-color:#CCC;
    max-width: 152px;
    box-shadow: rgba(0,0,0,0.2) 0 2px 8px;
}
